# Project Specific
/data/
/share/
/static/
/db.sqlite3
/.env
/keys
/logs

# Ignore temporary files
docker-compose.override.yml
/.vscode
__pycache__
*.pyc
._*

# Ignore AI-Master .jar
*.jar

# Ignore HBase configuration
core-site.xml
hbase-site.xml

# Ignore BigDL model
*.obj

# Ignore PyTorch model
*.pt
*.pth